---
const { title, description, image } = Astro.props;
---

<!-- <div class="w-full md:w-96 space-y-3">
  <img class="w-full h-48 sm:h-120 object-cover rounded-2xl" src={image} alt="image" />
  <h1 class="text-xl sm:text-2xl cardo-regular">{title}</h1>
  <p class="text-sm sm:text-base">{description}</p>
</div> -->


<div class="w-full max-w-sm mx-auto space-y-3">
  <img 
    class="w-full h-60 sm:h-120 object-cover rounded-2xl" 
    src={image} 
    alt={title} 
  />
  <h1 class="text-xl sm:text-2xl cardo-regular text-theme">{title}</h1>
  <p class="text-sm sm:text-base text-theme">{description}</p>
</div>
